* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:rgb(181, 150, 103) rgb(198, 221, 221);
}

.navBar {
  background-color: rgb(174, 174, 174);
  text-align: center;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 10;
  right: 0;
  bottom: 0;
  background-color: rgb (220, 219, 226, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5 ease-in-out;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  width: 500px;
  height: fit-content;
  border-radius: 26px;
  background: whitesmoke;
  border: 3px solid azure;
  transform: translateY(-150px)
}


.homeBlock {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  padding: 2px;
  background-color: rgb(108, 147, 154);
}

.accBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background-color: antiquewhite;
}

.accText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accInfo, .email, .username, .password {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

.accBtn {
  width: 200px;
}

.accBtn:hover {
  cursor: pointer;
}



/* MARKET CSS */

.cards {
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  background-color: rgb(194, 116, 14);
  margin: 20px;
  padding: 30px;
  max-width: 75%;
}

img {
  max-width: 100px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  font-family: 'Inconsolata', monospace;
}

.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: solid 1px black;
}



/* .market {
  background-color: antiquewhite;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards {
  background-color: rgb(250, 250, 250);
  width: 28%;
  margin: 10px;
  padding: 20px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-container {
  background-color: rgb(150, 105, 105);
  margin: 10px;
  padding: 25px;
  outline: 2px rgb(101, 101, 101) solid;  
  box-shadow: 3px 6px;
  transition: 0.6s ease-in-out;
  font-family: 'Inconsolata', monospace;

  width: 28%px;
}

.card-container:hover {
  transform: scale(1.02);
  box-shadow: 4px 7px;
}

.card-title {
  font-size: 25px;
  text-align: center;
}

p {
  text-align: center;
}

.addButton {
  padding: 10px;
  background-color: #aeabab;
  align-items: center;
}

.addButton:hover {
  cursor: pointer;
  background-color: rgb(71, 177, 223);
}

.card-container, img {
  width: 300px;
  object-fit: contain;
} */










/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
