* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 0 1px 8px #ddd;
  background-color: rgb(108, 147, 154);
  text-align: center;
  margin: 10px;
  padding: 0rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 10;
  background-color: rgb (220, 219, 226, 0.8);
  opacity: 0;
  transition: all 0.5 ease-in-out;
  pointer-events: none;
}

.modal.show, .modal.showLogout, .modal.showBasket {
  opacity: 1;
  pointer-events: visible;
}

.modalImage {
  height: 200px;
  width: 200px;
}



.modal-content {
  width: 500px;
  height: 600px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 26px;
  background:rgb(108, 147, 154);
  border: 3px solid azure;
  transform: translateY(-150px);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: initial !important
}

.modal-body{
  height: 80vh;
  overflow-y: auto;
}

.modalBlock {
  width: 500px;
  height: fit-content;
  margin: 15% auto;
  padding: 20px;
  border-radius: 26px;
  background:rgb(108, 147, 154);
  border: 3px solid azure;
  transform: translateY(-150px);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.homeBlock {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 2px;
  background-color: rgb(108, 147, 154);
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 10px;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 40px;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 10px;
  color: rgb(255, 255, 255);
}

p {
  font-size: 25px;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 1px;
  color: white;
}

a {
  color:rgb(0, 0, 0);
}

a:hover {
  color:aqua;
}

.accBlock {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 2px;
  background-color: rgb(108, 147, 154);
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.accText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accInfo, .email, .username, .password {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

.accBtn {
  width: 200px;
}

.accBtn:hover {
  cursor: pointer;
}


.membersBlock {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 2px;
  background-color: rgb(108, 147, 154);
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.marketBlock {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 2px;
  background-color: rgb(108, 147, 154);
  font-family: 'Inconsolata', monospace;
  text-align: center;
}





.activityBlock {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 2px;
    background-color: rgb(108, 147, 154);
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.accCard {
  width: 400px;
  padding: 10px 0px 0px 0px;
  margin: 15px;
  background-color: rgb(136, 189, 199);
  outline: 2px rgb(101, 101, 101) solid;
  box-shadow: 3px 6px;
  transition: 0.6s ease-in-out;
}

.accCard:hover {
  transform: scale(1.02);
  box-shadow: 4px 7px;
}

.accImage {
  max-width: 300px;
}

h3 {
  font-size: 12px;
  color: rgb(0, 0, 0);
  margin-left: 200px;
}




form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  background-color:#207eb1;
  color: #f3f3f3;
}







.log {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}




.basketModal {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 26px;
  background:rgb(108, 147, 154);
  border: 3px solid azure;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}









.cards {
  display: inline-block;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin: 20px;
}

.card-container {
  background-color: rgb(108, 147, 154);
  width: 230px;
  padding: 10px;
  outline: 2px rgb(101, 101, 101) solid;
  box-shadow: 3px 6px;
  transition: 0.6s ease-in-out;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.card-container:hover {
  transform: scale(1.02);
  box-shadow: 4px 7px;
}

.card-text {
  display: inline-block;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  overflow: visible;
}


.addButton {
  padding: 10px;
  background-color: #aeabab;
  align-items: center;
}

.addButton:hover {
  cursor: pointer;
  background-color: rgb(71, 177, 223);
}

.addButton:active {
  transform: translateY(4px);
}

.card-image {
  height: 200px;
  width: 200px;
}




.App-logoc1 {
  height: 3.5vmin;
  pointer-events: none;
}

.App-logol {
  height: 3.5vmin;
  pointer-events: none;
}

.App-logoo {
  height: 3.5vmin;
  pointer-events: none;
}

.App-logot {
  height: 3.5vmin;
  pointer-events: none;
}

.App-logoh {
  height: 3.5vmin;
  pointer-events: none;
}

.App-logoe {
  height: 3.5vmin;
  pointer-events: none;
}

.App-logomod {
  height: 12vmin;
  margin-top: -21px;
  pointer-events: none;
}

.App-logon {
  height: 3.5vmin;
  pointer-events: none;
}

.App-logoa {
  height: 3.5vmin;
  pointer-events: none;
}

.App-logot2 {
  height: 3.5vmin;
  pointer-events: none;
}

.App-logoi {
  height: 3.5vmin;
  pointer-events: none;
}

.App-logoo2 {
  height: 3.5vmin;
  pointer-events: none;
}

.App-logon2 {
  height: 3.5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logoc1 {
    animation: App-logo-spin infinite 10s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logol {
    animation: App-logo-spin infinite 10s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logoo {
    animation: App-logo-spin infinite 10s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logot {
    animation: App-logo-spin infinite 10s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logoh {
    animation: App-logo-spin infinite 10s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logoe {
    animation: App-logo-spin infinite 10s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logon {
    animation: App-logo-spin infinite 10s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logoa {
    animation: App-logo-spin infinite 10s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logot2 {
    animation: App-logo-spin infinite 10s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logoi {
    animation: App-logo-spin infinite 10s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logoo2 {
    animation: App-logo-spin infinite 10s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logon2 {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






.App-header {
  background-color: #c80c0c;
  min-height: 100vh;
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


