* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:rgb(181, 150, 103) rgb(198, 221, 221);
}

.navBar {
  background-color: rgb(174, 174, 174);
  text-align: center;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0rem;
}

.login {
  position: fixed;
  left: 0;
  top: 10;
  right: 0;
  bottom: 10;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5 ease-in-out;
  pointer-events: none;
}

.login.show {
  opacity: 1;
  pointer-events: visible;
}

.login-content {
  width: 500px;
  height: fit-content;
  border-radius: 26px;
  background: whitesmoke;
  border: 3px solid antiquewhite;
  transform: translateY(-150px)
}


.homeBlock {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  padding: 2px;
  background-color: rgb(108, 147, 154);
}

.accBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background-color: antiquewhite;
}

.accText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accInfo, .email, .username, .password {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

.accBtn {
  width: 200px;
}

.accBtn:hover {
  cursor: pointer;
}







.card-container {
  background-color: rgb(150, 105, 105);
  margin: 20px;
  padding: 5px;
  outline: 2px rgb(101, 101, 101) solid;  
  box-shadow: 3px 6px;
  transition: 0.6s ease-in-out;
  font-family: 'Inconsolata', monospace;

  width: 300px;
}

.card-container:hover {
  transform: scale(1.02);
  box-shadow: 4px 7px;
}

.card-image {
  height: 150px;
  overflow:visible;
}

.card-title {
  font-size: 25px;
  text-align: center;
}

p {
  text-align: center;
}

.addButton {
  padding: 10px;
  background-color: #aeabab;
}

.addButton:hover {
  cursor: pointer;
  background-color: rgb(71, 177, 223);
}

.cards {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}










/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
